# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\fax\staro\internetSoftverskeArhitekture\moje\isara2021vezbe\Vezbe10\rabbitmq-producer-example\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
